
<app-user-popup *ngIf="modoPopup !== 'CLOSED'"
                [modo]="modoPopup"
                [usuario]="usuarioSeleccionadoEnEdicion"
                (cerrarPopUpOk)="onCerrarPopUpOk()"
                (cerrarPopUpCancel)="onCerrarPopUpCancel()"
                (guardarUsuario)="onUsuarioGuardado($event)"
/>

<div class="user-list-container">
    <h2>User List</h2>
    <fieldset>
    <div class="container-button">
                <button class="button" (click)="launchPopup('EDIT')">Editar</button>
                <button class="button" (click)="eliminarUsuarioSeleccionado()"><img src="assets/images/DeleteIcon.JPG" alt="Delete" class="img-icon"></button>
                <button class="button" (click)="launchPopup('CREATE')">Create User</button>
                <button class="button" (click)="logout()">Cerrar sesión</button>
            </div>
    <div class="table-scroll">
    <table class="user-table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Genero</th>
                <th>Nickname</th>
                <th>Name</th>
                <th>Creation Date</th>
                <th>Job</th>
                <th>Main adress</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td><input type="radio" name="usuarioSeleccionado" [value]="usuario.id" [(ngModel)]="UsuarioSeleccionado"/></td>
                    <td>
                        <img
                            *ngIf="usuario.genero?.id === 1"
                            src="assets/images/Male.JPG"
                            [alt]="usuario.genero?.nombre"
                            class="img-gender"
                        >
                        <img
                            *ngIf="usuario.genero?.id === 2"
                            src="assets/images/Female.JPG"
                            [alt]="usuario.genero?.nombre"
                            class="img-gender"
                        >
                        <img
                            *ngIf="usuario.genero?.id !== 1 && usuario.genero?.id !== 2"
                            src="assets/images/Other.png"
                            [alt]="usuario.genero?.nombre || 'Otro genero'"
                            class="img-gender"
                        >
                    </td>
                    <td>{{ usuario.nickUsuario }}</td>
                    <td>{{ usuario.nombre }} {{ usuario.primerApellido }} {{ usuario.segundoApellido }}</td>
                    <td>{{ usuario.fechaHoraCreacion | date:'EEE MMM dd yyyy HH:mm:ss' }}</td>
                    <td>{{ usuario.puestoTrabajo?.nombre }}</td>
                </tr>
        </tbody>
    </table>
    </div>
    </fieldset>
</div>
